### Evaluation

Aim: make Kaggle submission and evalute model performance seperately

In [1]:
import pandas as pd
import numpy as np

import os

In [3]:
path_to_data = os.getenv('Documents') + '/House Prices - Advanced Regression Techniques/Datasets/'

In [4]:
test_data = pd.read_csv(path_to_data + 'test.csv')

In [5]:
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [6]:
ids = test_data['Id']
test_data = test_data.drop(columns=['Id'], axis=1)

Dropped Columns
- Alley
- MiscFeature

In [7]:
test_data = test_data.drop(columns=['Alley', 'MiscFeature'], axis=1)